.about-text{
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    color: white;
}
.about-tags{
    color: #F5DF4D!important;
    font-size: 1.5rem!important;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive !important;
}

#BTN-SUBMIT{
    border-radius: 0;
    color: white;
    background: #3c3c3c!important;
    font-family: 'Oswald', sans-serif !important;
    letter-spacing: .3rem;
    font-size: 1rem !important;
}