::-webkit-scrollbar {display:none;}

.switch-btn{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    border-radius: 0px!important;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    cursor: pointer;
}
.switch-btn:hover{
    background: #302f2e;
    color: #F5DF4D;
}
.switch-btn:hover::after,.switch-btn:hover::before{
    background: #F5DF4D;
}
.switch-btn-txt{
    font-family: 'Oswald', sans-serif !important;
    font-size: 0.5rem;
    letter-spacing: .4rem;
}
.switch-btn::after{
    content: "\00000a";
    white-space: pre;
    vertical-align: middle;
    text-align: center;
    width: 0.1px;
    background: rgba(0,0,0,.4);
    height: 30px;
    margin-top: 10px;
}
.switch-btn::before{
    content: "\00000a";
    white-space: pre;
    vertical-align: middle;
    text-align: center;
    width: 0.1px;
    background: rgba(0,0,0,.4);
    height: 30px;
    margin-bottom: 10px;
}
.project-count{
    font-family: 'Anton', sans-serif;
    font-size: 5rem;
    letter-spacing: .5rem;
}
.project-name{
    font-family: 'Oswald', sans-serif !important;
    display: inline-block;
    font-size: 2.5rem;
    letter-spacing: .4rem;
    text-decoration: underline;
    margin-top: 1rem;
}
.project-btn{
    border-radius: 0!important;
    color: #302f2e!important;
    font-family: 'Oswald', sans-serif !important;
    border-color: #F5DF4D!important;
    display: flex;
}
.tech_list{
    list-style-type: circle;
}
.tech_list>li{
    font-family: 'Oswald', sans-serif !important;
    letter-spacing: .2rem;
    font-size: 1rem;
    text-align: left;
}
.project-container{
    position: absolute;
    width: 100%!important;
    left: 0;
    transition: all 1s ease;
    transition-delay: .3s;
}
.prev{
    top: -100%;
}
.next{
    top: 100%;
}

.project-active{
    top: 0;
}

/* PHONE SCREEN SIZE */
@media only screen  and ( max-width: 600px ) {
    .project-count{
        font-size: 3rem;
    }
    .project-name{
        font-size: 1rem;
    }
    .tech_list>li{
        font-size: .8rem;
    }
}